<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <style>
        body{
            width: 40%;
            margin: 40px auto;
        }
    </style>
  </head>
  <body>
    <form action="http://127.0.0.1:5000/signup" method="POST">
        
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">First Name </label>
        <input type="text" name="fname" class="form-control" id="exampleFormControlInput1" placeholder="Enter First name">
      </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Last Name </label>
        <input type="text" name="lname" class="form-control" id="exampleFormControlInput1" placeholder="Enter last name">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Enter Password</label>
        <input type="password" name="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter password">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Re-enter Password</label>
        <input type="password" name="repassword" class="form-control" id="exampleFormControlInput1" placeholder="Re-enter Pasword">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit form</button>
      </div>
    
    </form>
  </body>
</html>
